body {
    background-color: #7cc1ac;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
#titles {
    color:#f9ffff;
    text-align: center;
}
.head {
    border: #229c9d solid 10px;
    border-radius: 70px;
    width: 300px;
    margin:50 auto;
}
.subhead {
  border: #42b8b8 10px solid;
  height: 250px;
  width: 750px;
  margin: auto;
  background-image: url("img/bulb.png");
  background-repeat: repeat-y;
  background-position: center;
}

.second {
    border: #42b8b8 10px solid;
    height: 250px;
    width: 750px;
    margin: auto;
    background-image: url("img/leaf\ man\ -\ Copy.png");
    background-repeat: repeat-y;
    background-position: center;
  }
.third {
    border: #42b8b8 10px solid;
    height: 250px;
    width: 750px;
    margin: auto;
    background-image: url("img/ribbon.png");
    background-repeat: repeat-y;
    background-position: center;
}

