body {
    background-color: #7fc6b8;
    color: brown;
    font-size: 55px;    
    font-family: arvo; 
}
.head{
    margin-top: 60px;
    text-align: center;
    color:#f7fffe;
    border: 10px solid #40b3a2;
    border-radius: 100px;
    width: 350px;
    
}       
h2{
    text-align: center;
    color: #f7fffe;
}
