body {
    background-color: #7cc1ac;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
#titles {
    color:#f9ffff;
    text-align: center;
}
.head {
    border: #229c9d solid 10px;
    border-radius: 70px;
    width: 300px;
    margin:50 auto;
}
.boxes {
  color:#f9ffff;
  text-align: center;
  border: #fad2b2 10px solid;
  height: 250px;
  width: 750px;
  margin: auto;
  background-repeat: repeat-y;
  background-position: center;
  background-color:#84cdca;
}
#strawberry {
    background-image: url("img/bulb.png");
}
#leaf {
    background-image: url("img/leaf\ man\ -\ Copy.png");
}
#ribbon {
    background-image: url("img/ribbon-320x320.png");
}


